<div class="container mt-5">
  <div class="row m-5">
    <div class="col-12 mx-auto text-center">
      <h5>お問い合わせを受付しました。</h5><br><br>
      <p><div class="necessary">※</div>回答するまでに数日お時間をいただく場合がございます。</p><br>
    </div>
  </div>
</div>