<div class="container-fluid">
  <h2 class="nav-font">Search for ... #<%= @tag.hashname %></h2>
    <div class="card-columns">
      <div class="card">
        <div class="bd-placeholder-img card-img">
          <% @posts.each do |post| %>
            <%= link_to post_path(post), data: {"turbolinks" => false} do %>
              <div class="post-size">
                <%= image_tag post.image.url %>
              </div>
            <% end %>
          </div>
        </div>
          <% end %>
    </div>
</div>