<div class="card-columns">
  <% obj.each do |post| %>
    <div class="card">
      <div class="bd-placeholder-img card-img">
        <%= link_to post_path(post), data: {"turbolinks" => false} do %>
          <div class="post-size">
            <%= image_tag post.image.url %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
