/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

html {
  font-size: calc(10px + 0.35vw)
}

body {
  margin: 0;
  padding-bottom: 50px;
  font-family: Georgia, Arial, "Sawarabi Gothic", sans-serif;
}

header {
  position: fixed;
  width: 100vw;
  background-color: #fff;
}

.english-big {
  font-size: 1.25rem;
  display: inline-block;
}

// loading画面
#loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 99999; // 一番上
  background: #fff;
}

#loading-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#loading .kvArea {
  width: 100%;
}

#loading .kvArea .img-box {
  text-align: center;
}

#loading .kvArea .img-box img {
  max-width: 100%;
  height: auto;
}

.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 3.0s; // かかる時間
  animation-delay: 2.0s; // 始まる時間
  animation-fill-mode: forwards; // 最後の状態でいる
  opacity: 1; // 不透明
}

@keyframes fadeUpAnime {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100px);
  }
}

// ナビゲーションバー
.nav {
    margin: 15px auto;
    font-family: Georgia, Arial, sans-serif;
    font-size: 14px;
    background-color: #fff;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2);
}

.nav-items {
    padding: 0;
    list-style: none;
    margin-left: auto;
}

.nav-item {
    display: inline-block;
    margin-right: 25px;
}

.nav-link,
.nav-link:link,
.nav-link:visited,
.nav-link:active {
    display: block;
    position: relative;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

.nav-link,
.nav-link:link,
.nav-link:visited,
.nav-link:active {
    color: #000;
    font-weight: bold;
}

.nav-link::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: rgba(0,0,0,0.2);
    opacity: 0;
    // 透明度：0は透明
    -webkit-transform: translate(0, 10px);
    // Chrome&Safari
    transform: translate(0, 10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    // ease：開始時と終了時は緩やかに変化
}

.nav-link:hover::before {
    opacity: 1;
    -webkit-transform: translate(0, 5px);
    transform: translate(0, 5px);
}

.search-button {
  display: inline-flex;
}

.logo {
  margin: 0 3rem;
}

// devise,contact関連
.necessary {
  display: inline;
  color: red;
}

.mypage-edit {
  display: inline;
}

.sns-show a {
  text-decoration: none;
}

//TOP(about)ページ
#about {
  background-image: image-url("makeithappen.jpg");
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.introduction {
  position: absolute;
  top: 25%;
  left: 60%;
  animation: fadeIn 3s ease 2.5s 1 normal;
}

.intro-title {
  font-family: 'RocknRoll One', sans-serif;
}

.tap-top {
  transition: all 1s linear 0s;
}

.tap-top:hover {
  transform: rotateY(360deg);
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

.marker-sentence {
  background: linear-gradient(transparent 40%, #a5dff9 0%);
}

// TOP/indexページ
.top-box {
  padding: 85px 50px 50px;
}

.card {
  border: none;
  animation: fadeIn 1.5s ease 0s 1 normal;
  overflow: hidden;
}

.card-img:hover {
  transform: scale(1.2); //縮小比率
  transition-duration: 0.3s;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 6;
  }
  @include media-breakpoint-only(xl) {
    column-count: 6;
  }
  @include media-breakpoint-only(sm) {
    column-count: 3;
  }
  @include media-breakpoint-only(xs) {
    column-count: 2;
  }
}

// 投稿
.post-size img {
  width: 100%;
}

.post-size-show img {
  width: 80%;
}

.tweet-btn {
  background-image: image-url("tweet.png");
  background-repeat: no-repeat;
  margin: 3px;
  height: 30px;
  width: 30px;
  background-size: 30px;
}

table th {
  padding: 10px;
}

.post-content {
    width: 60%;
}

.post-new {
  display: flex;
  justify-content: space-between;
}

.post-show {
  display: flex;
  justify-content: center;
}

.post-show-m {
  display: none;
}

// いいね
.love {
  background-image: image-url("like-l.png");
  background-repeat: no-repeat;
  height: 36px;
  width: 36px;
  background-size: 36px;
}

.loved {
  background-image: image-url("red-like.png");
  background-repeat: no-repeat;
  height: 36px;
  width: 36px;
  background-size: 36px;
}

.hide-text {
  display: block;
  overflow: hidden;
  // 要素の内容が多すぎてブロックに収まらない場合に隠す
  text-indent: 110%;
  // ブロック内のテキストの行の前に置く空白
  white-space: nowrap;
  // 詰めて表示
}

.like-link {
  color: #000;
}


// お気に入り
.bookmark {
  background-image: image-url("bookmark-off.png");
  background-repeat: no-repeat;
  margin: 3px;
  height: 30px;
  width: 30px;
  background-size: 30px;
}

.bookmarked {
  background-image: image-url("bookmark-on.png");
  background-repeat: no-repeat;
  margin: 3px;
  height: 30px;
  width: 30px;
  background-size: 30px;
}

// コメント
.no-text-decoration:hover {
  text-decoration: none;
}

.black-color {
  color: #262626;
}

.delete-review {
  background-image: image-url("delete.png");
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  float: right;
  margin: 5px 0 0 10px;
  background-size: 15px !important;
}

// ユーザーアイコン
.profile-shape img {
  border-radius: 50%;
}

// コンタクト
.contact-message {
  white-space: pre-wrap;
}

// フッター
footer {
	bottom: 0;
	display: inline-block;
	width: 100%;
	height: 50px;
	margin: 0;
	background-color: #fff;
	box-shadow: 0 -3px 3px 0 rgba(0,0,0,0.2);
// 	box-shadow: 右0 上3 ぼかしの大きさ 影の大きさ;
}

footer .copyright {
	float: left;
	width: 60%;
}

footer .copyright p {
  font-family: Georgia, Arial, sans-serif;
	font-size: 0.9em;
	line-height: 50px;
	padding-left: 10%;
	letter-spacing: 1px;
	color: #000;
}

footer .sns {
	float: right;
	padding-right: 8%;
}

footer .sns a {
	font-size: 1.2em;
	font-weight: bold;
	line-height: 50px;
	text-decoration: none;
	color: #000;
	padding-right: 10px;
}

.fab:hover, .far:hover {
  animation: upDown 1s infinite alternate;
}

@keyframes upDown {
  0% {transform: translateY(0px);}
  25% {transform: translateY(-10px);}
  50% {transform: translateY(0px);}
  75% {transform: translateY(-10px);}
  100% {transform: translateY(0px);}
}

.pc-none {
  display: none;
}

// メディアクエリ（スマホ）
@media screen and (max-width:768px) {

  .pc-none {
    display: block;
  }

  .top-box {
    padding: 70px 0 20px;
  }

// 下部メニュー
  footer {
    display: none;
  }

  #fix-phone-under-menu {
    position: fixed;
    left: 0;
    bottom: 10px;
    background: #fff;
    width: 100%;
  }

  #fix-phone-under-menu ul {
    padding: 0px;
  }

  #fix-phone-under-menu li {
    width: 100%;
    list-style: none;
    text-align: center;
    padding: 3px;
  }

  #fix-phone-under-menu li a {
    color: #d9d4cf;
  }

  #fix-phone-under-menu a span {
    display: block;
    font-size: 8px;
  }

  .iconname {
    color: #7c7877;
  }

// ヘッダー&ハンバーガーメニュー
  #search-menu {
    text-align: center;
  }

  .fixed-top {
    display: none;
  }

  .logo {
    margin: 0.8rem 1rem;
  }

  .hamburger {
    display : block;
    position: fixed;
    z-index : 3;
    right : 13px;
    top   : 5px;
    width : 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
  }

  .hamburger span {
    display : block;
    position: absolute;
    width   : 30px;
    height  : 2px ;
    left    : 6px;
    background : #555;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition   : 0.3s ease-in-out;
    transition        : 0.3s ease-in-out;
  }

  .hamburger span:nth-child(1) {
    top: 10px;
  }

  .hamburger span:nth-child(2) {
    top: 20px;
  }

  .hamburger span:nth-child(3) {
    top: 30px;
  }

  .hamburger.active span:nth-child(1) {
    top : 16px;
    -webkit-transform: rotate(-45deg);
    -moz-transform   : rotate(-45deg);
    transform        : rotate(-45deg);
  }

  .hamburger.active span:nth-child(2),
  .hamburger.active span:nth-child(3) {
    top: 16px;
    -webkit-transform: rotate(45deg);
    -moz-transform   : rotate(45deg);
    transform        : rotate(45deg);
  }

  nav.globalMenuSp {
    position: fixed;
    z-index : 2;
    top  : 0;
    left : 0;
    color: #7c7877;
    background: #fff;
    text-align: center;
    transform: translateY(-100%);
    transition: all 0.6s;
    width: 100%;
  }

  nav.globalMenuSp ul {
    background: #d9d4cf;
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }

  nav.globalMenuSp ul li {
    list-style-type: none;
    padding: 0;
    width: 100%;
    border-bottom: 1px solid #fff;
  }

  nav.globalMenuSp ul li:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }

  nav.globalMenuSp ul li a {
    display: block;
    color: #7c7877;
    padding: 1em 0;
    text-decoration :none;
  }

  nav.globalMenuSp.active {
    transform: translateY(0%);
  }

  // aboutページ
  #about {
    background-image: image-url("makeithappen-m.jpg");
    position: fixed;
    top: 0;
    bottom: 0;
    background-position: center;
  }

  .introduction {
    position: absolute;
    padding: 5px;
    top: 20%;
    left: 20%;
  }

  // 投稿関連
  .post-show {
    display: block;
  }

  .post-content {
    width: 95%;
  }

  .post-comment {
    width: 90%;
    margin: 0 auto;
  }

  .love,
  .loved,
  .bookmark,
  .bookmarked,
  .tweet-btn {
    height: 20px;
    width: 20px;
    background-size: 20px;
  }
}
