// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// devise,contact関連
.necessary {
  display: inline;
  color: red;
}

.mypage-edit {
  display: inline;
}

.sns-show a {
  text-decoration: none;
}

// ユーザーアイコン
.profile-shape img {
  border-radius: 50%;
}
