<li class="nav-item">
  <%= form_with(url: admin_search_path, local: true, method: :get, class: "search-form") do |f| %>
    <div class="search-button">
      <%= f.text_field :user_keyword, placeholder: "ユーザーを検索する", class: "form-control" %>
      <%= button_tag :type => "submit", :class =>"btn btn-primary" do %>
        <i class="fa fa-search"></i>
      <% end %>
    </div>
  <% end %>
</li>