<% if @user.instagram.present? %>
  <div class="sns-show">
    <%= link_to "https://www.instagram.com/#{@user.instagram}", target: '_blank', class: "mr-3" do %><!--target: '_blank'は別タブで開く-->
      <%= image_tag 'Instagram_icon.png', :size =>'20x20' %>
    <% end %>
  </div>
  <br><br>
<% end %>

<% if @user.twitter.present? %>
  <div class="sns-show d-flex justify-content-center">
    <%= link_to "https://twitter.com/#{@user.twitter}", target: '_blank' do %>
      <%= image_tag 'Twitter_icon.png', :size =>'20x20' %>
    <% end %>
  </div>
  <br><br>
<% end %>
