<div class="container-fluid">
  <div class="card-columns">
    <% @bookmarks.each do |bookmark| %>
      <div class="card">
        <div class="bd-placeholder-img card-img">
          <%= link_to post_path(bookmark.post) do %>
            <div class="post-size">
              <%= attachment_image_tag bookmark.post, :image %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>