<% if obj.errors.any? %>
  <div class="text-danger">
    <h3><%= "#{obj.errors.count}つのエラーがあります" %></h3>
    <ul>
      <% obj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>