<footer class="fixed-bottom">
  <div class="copyright">
  	<p>© 2021 - Photo Recipe!</p>
  </div>
  <div class="sns">
    <div class="">
    <%= link_to new_contact_path do %>
  	  <i class="far fa-envelope" aria-hidden="true"></i>
  	<% end %>
  	<%= link_to "https://twitter.com/share?url=#{ request.url }/&text=スマホの写真を共有しよう！&hashtags=スマフォトレシピ", target: '_blank' do %>
  	  <i class="fab fa-twitter fa-fw" aria-hidden="true"></i>
  	<% end %>
  </div>
</footer>