<footer class="fixed-bottom">
  <div class="copyright">
  	<p>© 2021 - Photo Recipe!</p>
  </div>
  <div class="sns">
    <div class="">
  	<a href="#" class="contact"><i class="far fa-envelope" aria-hidden="true"></i></a>
  	<a href="#" class="fb"><i class="fab fa-facebook fa-fw" aria-hidden="true"></i></a>
  	<a href="#" class="tw"><i class="fab fa-twitter fa-fw" aria-hidden="true"></i></a>
  	<a href="#" class="insta"><i class="fab fa-instagram fa-fw" aria-hidden="true"></i></a>
  </div>
</footer>