<footer class="fixed-bottom">
  <div class="copyright">
  	<p>© 2021 - Photo Recipe!</p>
  </div>
  <div class="sns">
    <div class="">
  	<a href="#" class="contact"><i class="far fa-envelope" aria-hidden="true"></i></a>
    <%= link_to "https://www.facebook.com/share.php?url=#{ request.url }", target: "_blank" do %>
  	  <i class="fab fa-facebook fa-fw" aria-hidden="true"></i>
  	<% end %>
  	<%= link_to "https://twitter.com/share?url=#{ request.url }/&text=スマホの写真を共有しよう！&hashtags=スマフォトレシピ", target: '_blank' do %>
  	  <i class="fab fa-twitter fa-fw" aria-hidden="true"></i>
  	<% end %>
  </div>
</footer>